project_id  = "my-project-id"
region = "us-central1"
zone = "us-central1-a"
vm_name     = "backend-infra"
network_name = "network-infra"
subnet_name ="subnet-infra"
subnet_cidr = "10.0.0.0/24"
machine_type = "e2-micro"
firewall_http_rule = "firewall-http-rule-infra"
firewall_ssh_rule = "firewall-ssh-rule-infra"